<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viathink.core.auth.mapper.AuthTokenMapper">
    <insert id="addAuthToken" parameterType="AuthTokenEntity">
       INSERT INTO auth_token
        (id, user_id, update_time, create_time)
        values
        (#{id}, #{userId},unix_timestamp(now())*1000,unix_timestamp(now())*1000)
    </insert>
    <select id="findAuthTokenById" parameterType="String" resultType="AuthTokenEntity">
      SELECT * FROM auth_token WHERE id=#{id}
    </select>
    <delete id="deleteAuthTokenById" parameterType="String">
      DELETE FROM auth_token WHERE id=#{id}
    </delete>
</mapper>