<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viathink.core.user.mapper.DictionaryMapper">
    <insert id="addDictionary" parameterType="DictionaryEntity">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO dictionary
        (label, value, category_id, update_time, create_time)
        VALUES
        (#{label},#{value},#{categoryId},unix_timestamp(now())*1000,unix_timestamp(now())*1000)
    </insert>

    <delete id="deleteDictionaryById" parameterType="Long">
        DELETE FROM dictionary
        WHERE
        id = #{value}
    </delete>

    <update id="updateDictionaryById" parameterType="DictionaryEntity">
        UPDATE dictionary set
        label = #{label}, value = #{value}, category_id = #{categoryId}, update_time=unix_timestamp(now())*1000
        WHERE
        id = #{id}
    </update>

    <select id="findDictionaryById" parameterType="Long" resultType="DictionaryEntity">
        SELECT * FROM dictionary WHERE id = #{value}
    </select>

    <select id="findDictionaryByPage" resultType="DictionaryEntity">
        SELECT * FROM page
    </select>

    <delete id="deleteDictionaryByCategoryId" parameterType="Long">
        DELETE FROM dictionary
        WHERE
        category_id = #{value}
    </delete>
</mapper>