<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viathink.core.business.gene.mapper.GeneQuarterlyDetailMapper">
    <insert id="addGeneQuarterlyDetail" parameterType="GeneDetailBaseEntity">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS ID
        </selectKey>
       INSERT INTO gene_quarterly_detail
        (<include refid="com.viathink.core.business.gene.mapper.GeneDetailMapper.detailInsertFiledSql" />)
        values
        (<include refid="com.viathink.core.business.gene.mapper.GeneDetailMapper.detailInsertValueSql" />)
    </insert>
    <update id="updateGeneQuarterlyDetail" parameterType="GeneDetailBaseEntity">
        UPDATE
            gene_quarterly_detail
        SET
            <include refid="com.viathink.core.business.gene.mapper.GeneDetailMapper.detailUpdateSql" />
        WHERE
          id=#{id}
    </update>
    <update id="updateGeneQuarterlyDetailByOrderIdAndQuarterStr" parameterType="GeneDetailBaseEntity">
        UPDATE
            gene_quarterly_detail
        SET
            <include refid="com.viathink.core.business.gene.mapper.GeneDetailMapper.detailUpdateSql" />
        WHERE
          order_id=#{orderId} AND quarter_str=#{quarterStr}
    </update>
    <select id="getGeneQuarterlyDetailByOrderId" parameterType="String" resultType="GeneDetailBaseEntity">
      SELECT * FROM gene_quarterly_detail WHERE order_id=#{orderId}
    </select>
    <select id="getGeneQuarterlyDetailByOrderIdAndQuarterStr" parameterType="GeneDetailBaseEntity" resultType="GeneDetailBaseEntity">
      SELECT * FROM gene_quarterly_detail WHERE order_id=#{orderId} AND quarter_str=#{quarterStr}
    </select>
    <select id="getGeneQuarterlyDetailById" parameterType="Long" resultType="GeneDetailBaseEntity">
      SELECT * FROM gene_quarterly_detail WHERE id=#{id}
    </select>
</mapper>