<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viathink.core.business.gene.mapper.HolidayDayMapper">

    <insert id="addHolidays" parameterType="HolidayParamDto">
        INSERT INTO holiday_day
        (year_str, month_str,day_str)
        VALUES
        <foreach collection ="days" item="item" separator =",">
            (#{yearStr}, #{monthStr},#{item})
        </foreach >
    </insert>

    <select id="findHolidaysByMonthStr" parameterType="String" resultType="HolidayDayEntity">
       SELECT
       *
       FROM holiday_day WHERE month_str=#{monthStr}
    </select>

    <delete id="deleteHolidaysByYearStr" parameterType="String">
      DELETE FROM holiday_day WHERE year_str=#{yearStr}
    </delete>

</mapper>