<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viathink.core.business.gene.mapper.RegionMapper">
    <insert id="addRegion" parameterType="RegionEntity">
        INSERT INTO region
        (region_id, region_name, update_time, create_time)
        VALUES
        (#{regionId},#{regionName},unix_timestamp(now())*1000,unix_timestamp(now())*1000)
    </insert>
    <update id="updateRegionById" parameterType="RegionEntity">
        UPDATE region set
        region_name = #{regionName}, update_time=unix_timestamp(now())*1000
        WHERE
        region_id = #{regionId}
    </update>
    <select id="findRegionById" parameterType="String" resultType="RegionEntity">
        SELECT * FROM region WHERE region_id=#{regionId}
    </select>
    <select id="getRegionList" resultType="RegionEntity">
        SELECT * FROM region
    </select>
</mapper>