<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.viathink.core.business.gene.mapper.TestingItemMapper">

    <insert id="addTestingItem"  parameterType="TestingItemEntity">
        INSERT INTO
        testing_item
        (order_id,testing_result,testing_agency,testing_item,testing_item_id,testing_item_price,testing_item_cost,testing_agency_id,testing_agency_address,testing_report_number,testing_report_url,testing_report_upload_time,sampling_time,sample_confirm_time,update_time,create_time)
        VALUES
        (#{orderId}, #{testingResult},#{testingAgency},#{testingItem}, #{testingItemId},#{testingItemPrice},#{testingItemCost},#{testingAgencyId},#{testingAgencyAddress},#{testingReportNumber},#{testingReportUrl},#{testingReportUploadTime},
        #{samplingTime},#{sampleConfirmTime},unix_timestamp(now())*1000,unix_timestamp(now())*1000)
    </insert>

    <update id="updateTestingItemById" parameterType="TestingItemEntity">
        UPDATE testing_item set
        order_id = #{orderId}, testing_result = #{testingResult},testing_agency = #{testingAgency},testing_item = #{testingItem},testing_item_price = #{testingItemPrice},testing_item_cost = #{testingItemCost},testing_agency_id = #{testingAgencyId},testing_agency_address = #{testingAgencyAddress},testing_report_number = #{testingReportNumber},testing_report_url = #{testingReportUrl},testing_report_upload_time = #{testingReportUploadTime},
        sampling_time = #{samplingTime},sample_confirm_time = #{sampleConfirmTime},update_time = unix_timestamp(now())*1000
        WHERE
        testing_item_id = #{testingItemId}
    </update>

    <select id="findTestingItemByOrderId" parameterType="String" resultType="TestingItemEntity">
        SELECT * FROM testing_item WHERE order_id = #{orderId}
    </select>


    <select id="findTestingItemById" parameterType="Long" resultType="TestingItemEntity">
        SELECT * FROM testing_item WHERE testing_item_id = #{testingItemId}
    </select>

    <delete id="deleteTestingItemByOrderId" parameterType="String">
        DELETE FROM testing_item
        WHERE
        order_id = #{orderId}
    </delete>

</mapper>